.hotel-details {
    width: 80%;
    margin: 10em auto;
    background: #c3c3c32e;
    border-radius: 6px;
    padding: 2em;
    box-shadow: 0 1px 4px rgba(41, 51, 57, 0.5);
    .hotel-card{
        flex:3;
        .hotel-name{
            display: inline-block;
            margin-bottom: 0.5em;
            margin-top: 0;
            margin-right: 0.5em;
        }
        .additional-info{
            float:right;
        }
        .price {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1em;
            margin-bottom: 0.7em;
            margin-top: 0;
            display: inline-block;
            margin-right: 1.7em;
            span{
                font-weight: 100;
                font-size: 0.7em;
                text-transform: capitalize;
            }
        }
        .hotel-distance{
            @extend .price;
            margin-right: 0;
        }
        .hotel-image{
            width: 100%;
            height: auto;
        }
        .hotel-amenities {
            margin-top: 0;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1em;
            span{
                font-weight: 100;
                font-size: 0.9em;
            }
        }
    }
    .rooms-list{
        .rooms-title{
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4em;
            font-weight: 500;
            padding-top: 2em;
            padding-bottom: 1em;
            position: relative;
            &:before{
                content: '';
                width: 5em;
                height: 0.08em;
                background: #656565;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: 0.5em;
            }
        }
        .room-name {
            margin-bottom: 0.5em;
            font-weight: 400;
            font-size: 1.35em;
            text-transform: capitalize;
        }
        .room-description {
            margin-top: 0;
            font-size: 0.9em;
        }
        .room-price {
            margin-bottom: 0.5em;
            font-size: 1.2em;
            font-weight: 500;
            text-transform: capitalize;
            span{
                font-weight: 100;
                font-size: 0.8em;
            }
        }
        .room-capacity{
            @extend .room-price;
            margin-top: 0;
        }
        .room-container:not(:last-of-type) {
            border-bottom: 1px solid #8e8e8e;
            margin-bottom: 1.5em;
            padding-bottom: 1.2em;
        }

        .show-all-rooms{
            width: 12em;
            padding: 0.7em;
            font-size: 1em;
            border-radius: 6px;
            background-color: #2f6fe4;
            color: #fff;
            font-weight: 500;
            margin: 0.2em auto;
            border: 1px solid #1752bb;
            display: block;
            margin-top: 2em;
            cursor: pointer;
        }
    }
}